.header-content {
  display: flex;
  flex-direction: row;
  background: var(--gradient-primary);
  align-items: center;
  border-radius: var(--radius-large) var(--radius-large) 0 0;
  padding: 1rem;
  gap: 0.75rem;
}

.header-icon {
  width: 40px;
  height: auto;
  filter: brightness(0) invert(1);
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.header-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-primary);
}

.header-text {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.add-task {
  padding: 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-default);
  background-color: var(--background-secondary);
}

.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.add-task-form input {
  width: 100%;
  padding: 0.875rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-default);
  background-color: var(--background-secondary);
  font-family: inherit;
  font-size: 1rem;
}

.add-task-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-tassk-actions button {
  flex: 1;
}

.calendar-button,
.add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  gap: 0.5rem;
  padding: 0.75rem 1rem;

  border: none;
  border-radius: var(--radius-default);

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

.calendar-button {
  background: var(--background-tertiary);
  color: var(--text-secondary);
}

.calendar-button img {
  width: 20px;
  height: 20px;
}

.add-task-button {
  background: var(--gradient-primary);
  color: var(--background-secondary);
}

.add-task-button img {
  width: 20px;
  height: 20px;
}
