/* Light */
@font-face {
  font-family: "Noto Sans";
  src: url(../../assets/fonts/NotoSans-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Noto Sans";
  src: url(../../assets/fonts/NotoSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  /* Background */
  --background-primary: #f5f7fb;
  --background-secondary: #ffffff;
  --background-tertiary: #eef1f6;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #6b7280;
  --text-tertiary: #9ca3af;

  /* Borders */
  --border-color: #e5e7eb;

  /* Primary */
  --color-primary: #5b4df7;
  --color-secondary: #7c3aed;
  --gradient-primary: linear-gradient(
    90deg,
    rgba(91, 77, 247, 1) 60%,
    rgba(124, 58, 237, 1) 100%
  );

  /* Status */
  --success-bg: #d1fae5;
  --success-color: #2e8b57;

  --pending-bg: #dbeafe;
  --pending-color: #3b82f6;

  --warning-bg: #ffedd5;
  --warning-color: #f97316;

  --danger-bg: #fee2e2;
  --danger-color: #ef4444;

  /* UI */
  --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.2);
  --shadow-soft: 0 5px 10px rgba(0, 0, 0, 0.12);
  --radius-default: 10px;
  --radius-large: 16px;

  /* FOOTER */
  --info-bg: #edf4fd;
  --info-border: #c9d8ee;
  --info-text: #3b6ea8;
  --info-accent: #facc15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background-secondary);
  padding: 0.6rem;
  gap: 1.2rem;

  border-radius: var(--radius-large);
  box-shadow: var(--shadow-card);
}

@media (min-width: 768px) {
  .main-content {
    width: 768px;
    padding: 2rem;
    gap: 1.3rem;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .main-content {
    width: 1024px;
    padding: 2.3rem;
    gap: 1.5rem;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    .main-content {
      width: 1440px;
      padding: 2.5rem;
      gap: 1.7rem;
      margin: 0 auto;
    }
  }
}
